language: node_js

notifications:
  email: false

node_js:
  - '10'
  - '12'

before_install:
  - npm i -g yarn

install:
  - yarn install --frozen-lockfile

script:
  - yarn check-format
  - yarn lint
  - yarn test

before_deploy:
  - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
  - npm whoami

deploy:
  - provider: script
    skip_cleanup: true
    script: yarn lerna publish from-git --yes
    on:
      node: '10'
      tags: true
      branch: master
      repo: superdispatch/js-tools

  - provider: script
    skip_cleanup: true
    script: yarn lerna publish --yes --canary --no-git-tag-version
    on:
      node: '10'
      tags: false
      branch: master
      repo: superdispatch/js-tools
