version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo

commands:
  install:
    steps:
      - restore_cache:
          keys:
            - yarn-{{ checksum "yarn.lock" }}
            - yarn-

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-{{ checksum "yarn.lock" }}

jobs:
  build:
    executor: node
    steps:
      - checkout
      - install
      - run:
          name: Lint
          command: yarn lint --quiet
      - run:
          name: Typecheck
          command: yarn tsc
      - run:
          name: Test
          command: |
            yarn test
            yarn codecov
      - persist_to_workspace:
          root: ./
          paths:
            - ./

  deploy:
    executor: node
    steps:
      - attach_workspace:
          at: ./
      - deploy:
          name: Publish to NPM
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ./.npmrc
            yarn lerna publish from-git --yes

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          context: npm-pkg
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
