name: Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.7.0
      - uses: actions/checkout@v2
      - uses: umidbekk/actions/npm/install@v2
      - run: yarn tsc
      - run: yarn lint
      - run: yarn test
      - uses: codecov/codecov-action@v2
      - run: yarn build
      - uses: EndBug/add-and-commit@v7
        if: ${{ failure() && github.actor == 'renovate[bot]' }}
