name: GH Scripts

on:
  pull_request:
    branches:
      - '**'

jobs:
  deploy-preview:
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-
      - run: yarn install --frozen-lockfile
      - run: yarn workspace @superdispatch/gh-scripts build

      - run: yarn gh-scripts deploy-preview --help
      - run: yarn gh-scripts deploy-preview --dir packages/gh-scripts/__fixtures__/deploy-preview
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      - run: yarn gh-scripts deploy-preview --dir packages/gh-scripts/__fixtures__/deploy-preview --alias custom-alias-${{ github.event.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

  prune-artifacts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-
      - run: yarn install --frozen-lockfile
      - run: yarn workspace @superdispatch/gh-scripts build

      - uses: actions/upload-artifact@v2
        with:
          name: foo-1
          path: package.json

      - uses: actions/upload-artifact@v2
        with:
          name: foo-2
          path: package.json

      - uses: actions/upload-artifact@v2
        with:
          name: baz-foo
          path: package.json

      - uses: actions/upload-artifact@v2
        with:
          name: baz-bar
          path: package.json

      - run: yarn gh-scripts prune-artifacts --help
      - run: yarn gh-scripts prune-artifacts --pattern "(^foo|bar$)"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
