name: Test upload-artifacts

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches:
      - '**'

jobs:
  upload-artifacts:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'Test upload-artifacts') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/upload-artifact@v2
        with:
          name: test-1-${{ github.event.number }}
          path: package.json

      - uses: actions/upload-artifact@v2
        with:
          name: test-2-${{ github.event.number }}
          path: package.json

      - uses: actions/upload-artifact@v2
        with:
          name: test-3-${{ github.event.number }}
          path: package.json
